DATABASE_URL=postgresql://neondb_owner:npg_dXHSOJvEI0P7@ep-little-tree-aqkskstz-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_ACCESS_SECRET=supersecretkey
JWT_REFRESH_SECRET=supersecretkey
DIRECT_URL=postgresql://neondb_owner:npg_dXHSOJvEI0P7@ep-little-tree-aqkskstz-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require